@model ITHS_Labb1_FelixGramell.ViewModels.ProductVM

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ViewProduct";
}

<div class="jumbotron">
    <h1 class="display-4">@Model.product.Name</h1>
    <p class="lead">@Model.product.Price</p>
    <hr class="my-4">
    <img src="@Model.product.Img_Url" />
    <ul>
        <li><p><b>Switches: </b> @Model.productInformation.Switches</p></li>
        <li><p><b>Layout: </b>@Model.productInformation.Layout</p></li>
        <li><p><b>Language: </b>@Model.productInformation.Language</p></li>
        <li><p><b>Size: </b> @Model.productInformation.Size %</p></li>
    </ul>

    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-info" asp-controller="Store" asp-action="AddToCart" asp-route-id="@Model.product.Id">Add to cart</a>
    }
    else
    {
        <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">You must be logged in before adding to cart</a>
    }

</div>